@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Titillium Web", sans-serif;
  color: #353535;
  scroll-behavior: smooth;
  background-color: #f8f9fa;
}

.navbar-list {
  gap: 30px;
}

.navbar-btn {
  font-family: "Titillium Web", sans-serif;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #d100ec;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}

.navbar-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c026d3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-btn:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

input[type="file"]::file-selector-button {
  color: #27272a;
  background-color: #d4d4d8;
  border: none;
  border-radius: 5px;
  scale: 0.8;
  margin-left: -15px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: #c4c4e7;
  color: #535361;
}

.search-group {
  display: flex;
  justify-content: center;
  height: 3rem;
}

.search-group > input {
  padding: 25px;
  font-size: large;
  background-color: #fff6fb;
  border: 1px solid #c4c4e7;
  text-align: center;
  box-shadow: 5px;
}

.search-group > input:focus {
  outline: none;
}

.search-group > input:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-group > input:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.top-section {
  /* width: 33.3%; */
  padding: 4px;
  background-color: #4cc9f0;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  border-radius: 8px;
}

.top-section-details {
  margin-top: 2rem;
  background-color: #d4d4d8;
  border-radius: 6px;
  padding: 4px;
  height: 15rem;
}

.addBrand-btn {
  background-color: #7dd3fc;
  margin-top: 2rem;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;
  color: #fff;
}

.addBrand-btn:hover {
  background-color: #38bdf8;
  color: #0369a1;
}
